* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding-top: 70px;
}
/* header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #6f6af7;
  padding: 10px 0;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #fff;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  font-family: "Delius Unicase", cursive;
  font-weight: bolder;
  font-size: 36px;
  padding: 10px;
  margin-left: 10px;
}

.navbar .links {
  display: flex;
  gap: 50px;
  font-size: 26px;
  font-family: "DM Sans";
  font-weight: 600;
  line-height: 48px;
}

.arrow-down {
  width: 8px;
  height: 6px;
  margin-bottom: 5px;
}

.search-container {
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
}
.search-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 30px;
}

.search-icon {
  position: absolute;
  top: 60%;
  right: 15px;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
}

.arrow-down,
.search-icon,
.action_btn img {
  max-width: 100%;
  height: auto;
}

.action_btn img {
  align-items: center;
  cursor: pointer;
  max-width: 50%;
  max-height: 50%;
}

/* header end*/

/* main page */
/* hero-container */
.hero-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
}

.hero img {
  width: 330px;
  height: 445px;
  border-radius: 20px;
  box-shadow: 4px 7px 32px 0px #00000070;
  margin-right: 50px;
}

textarea {
  width: 1050px;
  height: 450px;
  border-radius: 20px;
  background-color: #e5d8ff;
  box-shadow: 4px 7px 32px 0px #00000070;
  padding: 18px;
  font-size: 19px;
  font-family: "DM Sans", sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  border: none;
  outline: none;
}

/* hero-container end*/

/* card-container */
.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 80px;
}

.card {
  width: 220px;
  height: 105px;
  color: #ffffff;
  font-family: "DM Sans", sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 30px;
  border-radius: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 9px 31px 0px #00000066;
  letter-spacing: 2px;
}

.card-1 {
  background-color: #929dff;
  margin-right: 60px;
}

.card-2 {
  background-color: #734cf2;
  margin-right: 60px;
}
.card-3 {
  background-color: #d288ff;
  margin-right: 60px;
}
.card-4 {
  background-color: #000000;
}
/* card-container  end*/

/* info-container */
.info-container{
  background-color: #483EFF;
  width: 1000px;
  height: 450px;
  border-radius: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 40px;
}

.big-card{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
}

.info-card-1,
.info-card-2,
.info-card-3 {
  width: 190px;
  height: 70px;
  border-radius: 11px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-family: "DM Sans ", sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 2px;
}

.info-card-1,
.info-card-2 {
  margin-bottom: 50px;
}

.info-card-1{
  background-color: #BCE0F6;
}

.info-card-2{
  border: 2px solid #FFFFFF;
  color: #ffffff;
}

.info-card-3{
  border: 2px solid #FFFFFF;
  color: #ffffff;
}

.right-card{
  position: relative;
  width: 650px;
  height: 350px;
  background-color: #ffffff;
  border-radius: 11px;
  margin: 10px;
  margin-left: 40px;
  padding: 30px;
  margin: 30px;
}

.right-card h2{
  font-family: 'Inter';
  font-weight: bolder;
  font-size: 28px;
  text-transform: capitalize;
  color: #04285A;
}

.right-card p{
  color: #143565;
  padding: 10px;
  font-family: 'Roboto';
  letter-spacing: 2px;
}

label{
  color: #04285A;
  font-size: 20px;
  font-weight: bold;
  line-height: 40px;
}

.next-button{
  position: absolute;
  bottom: 10px; /* Adjust the distance from the bottom */
  right: 10px;
  width: 90px;
  height: 45px;
  background-color: #000000;
  color: #FFFFFF;
  font-family: 'Roboto';
  border-radius: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow-right{
  margin: 5px;
  width: 20px;
}

/* info-container end */

/* main page end*/

/* social-icons */

.social-icons {
  position: fixed;
  top: 30%;
  right: 5px;
  transform: translateY(0%);
  transition: top 0.3s ease-out;
}

.social-icons img {
  display: block;
  width: 70px;
  height: 140px;
}

.social-icons.sticky {
   top: 90px;
}

/* social-icons end*/

/* floating icon */
.floating-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}

.floating-icon img {
  width: 100px;
  height: 100px;
}
/* floating icon end*/
